{% extends "registration/registration_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block head %}
<link href="{% static 'css/pricing.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-dark" id="navbar_id">
      <a class="navbar-brand" href="/">StoryShare</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
        </ul>
<!--         <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form> -->
      </div>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
<h1 class="display-4 text-muted text-center">
    {% blocktrans %}
    We have sent you an email with a link to reset your password. Please check
    your email and click the link to continue.
    {% endblocktrans %}
</h1>
<h1 class="display-4 text-muted text-center">
	<a href="/">Home</a>
</h1>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $("#navbar_id").css("background-color", "#407690");
    })
</script>
{% endblock %}


{# This is used by django.contrib.auth #}
