{% extends "registration/registration_base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}
{% block head %}
<!-- <link href="{% static 'css/signin.css' %}" rel="stylesheet"> -->
<link href="{% static 'css/navbar.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-dark" id="navbar_id">
      <a class="navbar-brand" href="/">StoryShare</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/accounts/login/">Login<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/all/">All stories<span class="sr-only">(current)</span></a>
          </li>
          {% if user.is_superuser %}
          <li class="nav-item active">
          	<a class="nav-link" href="/admin/">Admin<span class="sr-only">(current)</span></a>
          </li>
          {% endif %}
        </ul>
<!--         <form class="form-inline my-2 my-md-0">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form> -->
      </div>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
    <p></p>
</div>
<div class="row">
<div class="col-md-5"></div>
<div class="col-sm-2">
<form method="post" action="">
	<h1 class="h3 mb-3 font-weight-normal text-center">Let us know something</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans 'Submit' %}" id="submit_id" class="btn btn-lg btn-primary btn-block"/>
</form>
</div>
<div class="col-md-5"></div>

<script type="text/javascript">
    $(document).ready(function() {
    	$("#id_username").addClass("form-control");
    	$("#id_email").addClass("form-control");
    	$("#id_password1").addClass("form-control");
    	$("#id_password2").addClass("form-control");
    	$("#submit_id").css("background-color", "#407690");
    	$("#submit_id").css("border-color", "#407690");
        $("#navbar_id").css("background-color", "#407690");
        $( ".helptext" ).remove();
        $( "li" ).not(".nav-item").remove();
        $( "lu" ).not(".navbar-nav").remove();
    })
</script>

{% endblock %}